<!DOCTYPE html>
<html>

<head>
  <title>About Us</title>
  <link rel="stylesheet" href="./css/style.css" />
</head>

<body>
  <br> <br><img src="./images/logo.jpg" style="
              width: 160px;
              height: 125px;
              border-radius: 25%;
              box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
                0 10px 10px rgba(0, 0, 0, 0.22);
            " /> <br>
  <div class="container" id="container">
    <div class="row" id="container">
      <div <div class="column">
        <br />
        <img src="./images/about_manish.jpg" style="
              width: 190px;
              height: 150px;
              border-radius: 50%;
              box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
                0 10px 10px rgba(0, 0, 0, 0.22);
            " />
        <h3>Manish Modwani</h3>
        <p>
          Manish is a second year engineering student currently pursuing Bachelors in Electrical and
          Electronics Engineering at BITS Pilani Hyderabad Campus. His interests lies in the field of
          Competitive Programming and core elctronics.
        </p>
      </div>
      <div class="column">
        <br />
        <img src="./images/about_rishi.jpg" style="
              width: 190px;
              height: 150px;
              border-radius: 50%;
              box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
                0 10px 10px rgba(0, 0, 0, 0.22);
            " />
        <h3>Rishi Jain</h3>
        <p>
          Rishi is a second year engineering student currently pursuing Bachelors in Computer Science
          Engineering at BITS Pilani Goa Campus. His interests lies in the field of
          Competitive Programming and Data Analysis.
        </p>
      </div>
      <div class="column">
        <br />
        <img src="./images/about_rishabh.jpg" style="
              width: 190px;
              height: 150px;
              border-radius: 50%;
              box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
                0 10px 10px rgba(0, 0, 0, 0.22);
            " />
        <h3>Rishabh Mishra</h3>
        <p>
          Rishabh is a second year engineering student currently pursuing Bachelors in Electrical and
          Electronics Engineering at BITS Pilani Hyderabad Campus. His interests lies in the field of
          Competitive Programming and core elctronics.
        </p>
      </div>
    </div>
  </div>

</body>

</html>