<!DOCTYPE html>
<html>

<head>
  <title>TextConnect</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <!-- <ul class="container-fluid">
		<li><a href="#home">Home</a></li>
		<li><a href="#news">News</a></li>
		<li><a href="#contact">Contact</a></li>
		<li><a href="#about">About</a></li>
	</ul> -->



  <!-- <br> <br> <br> -->
  <div class="container" id="container">

    <div class="overlay-panel overlay-left">
      <img src="./images/logo.jpg" style="width:300px;height:150px;"> <br>
      <div class="head1">
        <h3> Already a user?</h3>
      </div>
      <button onclick="window.location.href='signin';">Sign In Now!
      </button>
    </div>
    <div class="overlay-container">
      <div class="overlay">

        <div class="overlay-panel overlay-right">
          <div class="head">
            <h2> Welcome to Text Connect!</h2> <br>
          </div> <br>
          <h3>New to the community?</h3>
          <button onclick="window.location.href='signup';">Sign Up Now!
          </button>
        </div>
      </div>
    </div>
    <footer>
      <p>
        Created by <i class="fa fa-heart"></i>
        <a target="_blank" href="About.html">Team Text Connector</a>
      </p>
    </footer>

</body>

</html>